<div class="fullscreen-bg">
    <video autoplay="autoplay" loop="loop" poster="<%= asset_path 'cycling.jpg' %>" class="fullscreen-bg__video">
        <source src="https://dmffyspx7768r.cloudfront.net/test.mp4" type="video/mp4">
        <source src="https://dmffyspx7768r.cloudfront.net/test.ogv" type="video/ogg">
        <source src="https://dmffyspx7768r.cloudfront.net/test.webm" type="video/webm">
    </video>
</div>
<div class="mainStrapline">
	<p>We seek, identify &amp; deliver the best music &amp; artists for any campaign.
	We produce the highest quality film and images for your brand campaign.</p>
</div>