<div class="fullscreen-bg">
    <video autoplay="autoplay" loop="loop" poster="<%= asset_path 'cycling.jpg' %>" class="fullscreen-bg__video">
        <source src="https://s3.amazonaws.com/one-tree-two/test.m4v" type="video/mp4">
        <source src="https://s3.amazonaws.com/one-tree-two/test.ogv" type="video/ogg">
        <source src="https://s3.amazonaws.com/one-tree-two/test.webm" type="video/webm">
    </video>
</div>