<div class="fullscreen-bg">
    <video autoplay="autoplay" loop="loop" poster="../assets/test2.jpg" class="fullscreen-bg__video">
        <source src="https://s3.amazonaws.com/one-tree-two/test.m4v" type="video/mp4">
        <source src="https://s3.amazonaws.com/one-tree-two/test.ogv" type="video/ogg">
        <source src="https://s3.amazonaws.com/one-tree-two/test.webm" type="video/webm">
    </video>
</div>

<div class="col-md-2 logo"><%= image_tag('logo.png') %></div>
<div class="col-md-4">&nbsp;</div>
<div class="col-md-4">&nbsp;</div>
<div class="col-md-2">&nbsp;</div>
<div class="col-md-12">
	<ul class="navigation">
		<li>Work</li>
		<li>About</li>
		<li>Contact</li>
	</ul>
</div>
    
</div>