<div class="deviseStyling col-md-11 projects">
	<h2 class="titles">Recent work</h2>
	<a href="https://player.vimeo.com/video/136224901?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup">
		<div class="col-md-6">
			<div class="project">
				<div class="info-wrapper">
					<h5>Ryanair /</h5>
					<h5>"30 Years" European Trailer</h5>
					<hr class="dots"/>
					<h5 class="colour">Music supervision &amp; licensing</h5>
					<h5>Agency: Saatchi &amp; Saatchi</h5>
					<h5>Music: "Tough Love" by Ed Hamilton</h5>
				</div>
				<%= image_tag('ryan.png', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://player.vimeo.com/video/136224901?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup">
		<div class="col-md-6">
			<div class="project">
				<div class="info-wrapper">
					<h5>Ryanair /</h5>
					<h5>"30 Years" European Trailer</h5>
					<hr class="dots"/>
					<h5 class="colour">Music supervision &amp; licensing</h5>
					<h5>Agency: Saatchi &amp; Saatchi</h5>
					<h5>Music: "Tough Love" by Ed Hamilton</h5>
				</div>
				<%= image_tag('ryan.png', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://player.vimeo.com/video/136224901?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup">
		<div class="col-md-6">
			<div class="project">
				<div class="info-wrapper">
					<h5>Ryanair /</h5>
					<h5>"30 Years" European Trailer</h5>
					<hr class="dots"/>
					<h5 class="colour">Music supervision &amp; licensing</h5>
					<h5>Agency: Saatchi &amp; Saatchi</h5>
					<h5>Music: "Tough Love" by Ed Hamilton</h5>
				</div>
				<%= image_tag('ryan.png', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
	<a href="https://player.vimeo.com/video/136224901?badge=0&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="video-popup">
		<div class="col-md-6">
			<div class="project">
				<div class="info-wrapper">
					<h5>Ryanair /</h5>
					<h5>"30 Years" European Trailer</h5>
					<hr class="dots"/>
					<h5 class="colour">Music supervision &amp; licensing</h5>
					<h5>Agency: Saatchi &amp; Saatchi</h5>
					<h5>Music: "Tough Love" by Ed Hamilton</h5>
				</div>
				<%= image_tag('ryan.png', lazy: true, class: "lazy") %>
			</div>
		</div>
	</a>
</div>