<div class="deviseStyling col-md-11 abouts">
	<h2 class="strapline">We seek, identify &amp; deliver the best music &amp; artists for any campaign.
	We produce the highest quality film and images for your brand campaign.</h2>
	<div class="col-md-4 fixMargin">
		<div class="services">
			<p class="quote2">
				We work with visionary creative teams to find and deliver the most compelling and memorable music and artists for any campaign
			</p>
		</div>
		<div class="services2">
			<h5 class="colour">SERVICES</h5>
			<ul class="servicesWrapper">
				<li>Composition</li>
				<li>Music searches</li>
				<li>Synchronisation licensing<li>
				<li>Partnerships</li>
				<li>Consultancy</li>
				<li>Supervision</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8 contact">
		<div class="services contactDeets">
			<h5 class="colour">LONDON</h5>
			<ul class="servicesWrapper">
				<li>39 Sellons Avenue</li>
				<li>London</li>
				<li>NW10 4HJ<li>
				<li>&nbsp;</li>
				<li>Contact: <a href="mailto">david(at)onetreemusic.tv</a></li>
			</ul>
		</div>
		<div class="contactDeets2">
			<p class="quote">
				"Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything."<br/><br/> - Plato
			</p>
		</div>
	</div>
		
</div>