<div class="deviseStyling col-md-12 abouts">
	<h2 class="strapline">We seek, identify &amp; deliver the best music &amp; artists for any campaign.
	We produce the highest quality film and images for your brand campaign.</h2>
	<div class="col-md-4 fixMargin">
		<div class="servicesTopLeft">
			<p class="quote2">
				We work with visionary creative teams to find and deliver the most compelling and memorable music and artists for any campaign
			</p>
		</div>
		<div class="servicesBottomLeft">
			<h5 class="colour">LONDON</h5>
			<ul class="address">
				<li>39 Sellons Avenue</li>
				<li>London</li>
				<li>NW10 4HJ<li>
				<li>&nbsp;</li>
				<li>Contact: <a href="mailto">david(at)onetreemusic.tv</a></li>
				<li>Tel: 07959 307125</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8 contact">
		<div class="servicesTopRight">
			<h5 class="colour">SERVICES</h5>
			<ul class="servicesList">
				<div class="servicesLinks">
					<li>Compositions</li>
					<div class="info-wrapper2">
						<em>Our team of composers are capable of turning round demos of all genres and styles in 24 hours. No brief too ambient, loud, 
						fast or slow, we deliver on brief compositions quickly. We have an enviable track record in finding the right song for the 
						right brand.</em>
					</div>
				</div>
				<div class="servicesLinks">
					<li>Music searches</li>
					<div class="info-wrapper2">
						<em>We deliver broad and deep catalogue music searches. From this weeks latest releases and emerging stars right back through the history 
						of  popular, classical and roots music. We search industry wide across all labels and publishers including music libraries 
						where required.</em>
					</div>
				</div>
				<div class="servicesLinks">
					<li>Synchronisation licensing</li>
					<div class="info-wrapper2">
						<em>All contract negotiations are managed for you by our expert legal team who have long term legal recording &amp; publishing 
						backgrounds. We work extremely hard to get the best deal possible for your budget as we understand that client budgets change over the 
						course of a production &amp; are always ready to react.</em>
					</div>
				</div>
				<div class="servicesLinks">
					<li>Partnerships</li>
					<div class="info-wrapper2">
						<em>Brands with a passion for music often want to explore how they can work in partnership with artists beyond the usual song 
						licensing framework. We have the expertise to suggest &amp; deliver deeper partnerships. We manage all strategy, approach, 
						negotiation &amp; 
						right acquisition. Including sponsorship, endorsement, use of name image &amp; likeness and release &amp; distribution of music.</em>
					</div>
				</div>
				<div class="servicesLinks">
					<li>Consultancy</li>
					<div class="info-wrapper2">
						<em>The team can work on a consultancy basis within your team if required for bigger projects . We have worked within small early start 
						ups and bigger pan european organisations in the past.</em>
					</div>
				</div>
				<div class="servicesLinks">
					<li>Supervision</li>
					<div class="info-wrapper2">
						<em>We work hand in hand with the best creative minds in the business. From initial brief right through all the creative twists and turns 
						that all campaigns and productions experience. One Tree are a trusted partner to supervise, suggest and assist your music searches.  
						Multi phase searches a speciality.</em>
					</div>
				</div>
			</ul>
		</div>
		<div class="serviceBottomRight">
			<p class="quote">
				"Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything."<br/><br/> - Plato
			</p>
		</div>
	</div>
		
</div>