<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>One Tree Music | V2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>

		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700,600|Fredoka+One' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<%= yield %>

	</body>
</html>